<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form action="" class="card card-body" #f="ngForm" novalidate (ngSubmit)="guardarCita()">
        <h1>Registrar cita</h1>
        <input type="text" [(ngModel)]="paciente" name="paciente" placeholder="Nombre del paciente" required class="form-control">
    
        <input type="datetime-local" [(ngModel)]="horario" name="horario" required>
        <select name="doctorId" [(ngModel)]="doctorId" class="form-select">
          <option value="0" disabled>Selecciona al doctor</option>
          <option *ngFor="let doctor of doctores" [value]="doctor.id">{{ doctor.nombre }}</option>
        </select>
    
        <select name="consultorioId" [(ngModel)]="consultorioId" class="form-select" required>
          <option value="0" disabled>Selecciona el consultorio</option>
          <option *ngFor="let cons of listaConsultorio" [value]="cons.id">{{ cons.piso }}</option>
        </select>
        <input type="submit" class="btn btn-secondary" [disabled]="!f.valid">
      </form>
    </div>
    <div class="col-md-8">
      <br><input type="text" placeholder="Filtro" class="form-control"><hr>
      <citas [data]="citas" (emitter)="actualizarTabla($event)"></citas>
    </div>
  </div>
</div>